<!DOCTYPE html>
<html>
<head>
  <title>ControllerExercise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<p><%= link_to "Schneems Blog", "http://schneems.com" %></p>
<p><%= link_to "Product List", products_path %></p>
<p><%= link_to "User List", users_path %></p>

</html>
